body {
  background-color: rgb(118, 148, 196);
  background-image: url('background.jpg')
}

h1 {
  color: rgb(0, 0, 0);
  margin-right: 20px;
  margin-right: 50px;
  text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
h2 {
  color: rgb(0, 0, 0);
  
  
  text-align: center;
    font-family: " Courier New", monospace;
}

h3{
  color: rgba(0, 0, 0, 0.895);
  text-align: center;
    font-family: "Times New Roman", "Courier New", monospace;
}
aside{text-align: center;

}

article {text-align: left; word-spacing: 5px;

}

section{text-align: center;word-spacing: 5px;
  

}

p {
  color: rgb(149, 65, 65);
  margin-right: 60px;
  margin-right: 50px;
  text-align: left;
  word-spacing: 5px;
  
    font-family: "Times New Roman", "Courier New", monospace;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-image: url(d)
}


a {
  color: rgb(0, 0, 0);
  background-image: url(d)
}
a:active {
  color: #d12f2f;          /* red flash when clicked */
}

img {
  float: right;
  border: #000000;
  height: auto;
}

div.footer {
  position: none;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #050303;
  
  padding: 8px;
  text-align: center;
  z-index: 1000;
}