
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li {
   margin: 0;
   padding: 40px;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #e4e7eb;
   font-weight: 300;
}



section{
   width: 910px;
   
}


li:nth-child(2) {
  background-color: rgb(175, 175, 175);
  box-shadow: 55pt;
}

li:nth-child(4) {
  background-color: rgb(175, 175, 175);
  box-shadow: 55pt;

}

ul{
   list-style-type: none ;
}


.column{
display: inline-block;
width: 32%;
 width: 250px;
}

.column:last-child{
 width: 290px;
}

.column.featured{
background-color: #2f4f4f;
 width: 250px;
}

#confidence{
   background-color: #2f4f4f;
   width: 100vw;
}

#confidence li:nth-child(2) {
   background-color: #2f4f4f;
}

#confidence li:nth-child(4) {
   background-color: #2f4f4f;
}



header {
   margin-left: 20px;
}


h1 { 
   text-align: center;
   font-weight: 600;
   font-size: 42px;
   padding: 10px 0;
}

div a {
  background-color: #3a6ba5;
  color: #fff;
  display: inline-block;
  width: 155px;
  height: 55px;
}