
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li {
   margin: 0;
   padding: 40px;
}
body {
   font-family: 'Open Sans', sans-serif;
   background-color: #e4e7eb;
   
}

section{
   width: 910px;
   
}


li:nth-child(2) {
  background-color: rgb(175, 175, 175);
  box-shadow: 55pt;
   width: 250px;
}

li:nth-child(4) {
  background-color: rgb(175, 175, 175);
  box-shadow: 55pt;
 width: 250px;
 
}

ul{
   list-style-type: none ;
}


.column{
display: inline-block;
width: 30%;
padding: 20px;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 40px;
   
}


.price.free{
   background-color: #5bb189;
   padding: 40px;
}

.price.standard{
   background-color: #4B0082;
   width:330p ;
   padding: 40px;
}

.price.professional{
   background-color: #ec632a;
   padding: 40px;
 
}

.price{
   height: 99px;
   margin: 0;
  
}




#confidence{
   background-color: #2f4f4f;
   width:990px;
   padding: auto;
   margin: bottom;

}



#confidence li:nth-child(2) {
   background-color: #2f4f4f;
}

#confidence li:nth-child(4) {
   background-color: #2f4f4f;
   text-decoration: none;
}

#confidence li{
   color: #fff;
   padding-bottom: 2%;
   background-image: url(checkmark.svg);
   background-repeat:no-repeat;
   background-size: 20px 20px;
   background-position: left center;
   
}
#confidence li a{
   background-color: #2f4f4f;
   color: aqua;
}

h1 { 
   text-align: center;
   font-weight: 600;
   font-size: 42px;
   padding: 10px 0;
   
}

div a {
  background-color: #3a6ba5;
  color: #fff;
  display: inline-block;
  width: 245px;
  height: 55px;
  text-align: center;
     text-decoration: none;
     padding: 40px 40px;

}




.price{
   text-align: center;
   padding: 10px 0;
}

